# Основные настройки
PROXY_URL="socks5://127.0.0.1:12334"
BROWSER="firefox"

# Ключи для перевода Gemini (через запятую)
# GEMINI_API_KEY="AIzaSyD6RvlIV0ZtVEqWzhpZD1EIjJHTKNww62M,AIzaSyD6Sm5RUAJMSwSnbCVuSrUdrbqcF7mJnCI,AIzaSyBuFxvxk9S2zCjqJ5TK9Zq7DEhAoXiq5OE,AIzaSyAI-o_5IXD8v1BNGksd9kioi9_8DNcvgHQ,AIzaSyAVrISImMF1Alx0NU_ZyAfs-XWQR3WpObY,AIzaSyDJyGEbF04IcdnawJH1ifvC7CywepeOv6s"

# Модель Gemini и параметры (раскомментируйте для изменения)
# GEMINI_MODEL_NAME="gemini-3.1-flash-lite"
# GEMINI_TEMPERATURE="0.2"
# GEMINI_BATCH_SIZE="50"

# Опциональное включение INT8 квантования для слабых процессоров (только если нет видеокарты NVIDIA!)
# USE_INT8_QUANTIZATION="False"
